---
import './Footer.css';
---
<footer class="site-footer">
  <div class="footer-top">
    <nav class="footer-menu">
      <a href="#">PROYECTOS</a>
      <a href="#">ACTUALIDAD</a>
      <a href="#">CONTACTO</a>
      <a href="#">AVISO DE PRIVACIDAD</a>
    </nav>
    <div class="social" aria-label="Redes sociales">
      <span class="dot"><img src="/assets/img/9af225030598f5120734e2bee84537e7ff252ee9.svg" alt="" height="16" /></span>
      <span class="dot"><img src="/assets/img/ae25f25a5a6eb4bdc5cae09344cbaa16b60bc7a5.svg" alt="" height="16" /></span>
      <span class="dot"><img src="/assets/img/fef5d8ecde089d71ab088d0aa6c113b9ea8a71f2.svg" alt="" height="16" /></span>
    </div>
  </div>
  <div class="footer-bottom">
    <img class="brandmark" src="/assets/img/b83b730786f17a7c2d8b6bb0345b7e809fc4de08.svg" alt="Porcelanosa" />
    <p class="copyright">
      © 2025 PORCELANOSA. Todos los derechos reservados.
    </p>
  </div>
</footer>